language: rust
rust:
  - 1.42.0

notifications:
  email:
    on_success: never
    on_failure: always

matrix:
  include:
  # Linux
  - os: linux
    dist: xenial
    stage: test
    name: "Tests - Linux"
  # OS-X
  - os: osx
    osx_image: xcode11.3
    stage: test
    name: "Tests - OS-X"
  # Windows
  - os: windows
    stage: test
    name: "Tests - Windows"

script:
  - cargo build --package fs_path --verbose
  - cargo test --package fs_path --verbose
  - cargo build --package fs_temp --verbose
  - cargo test --package fs_temp --verbose
  # - cargo build --package fs_path --verbose --all
  # - cargo test --package fs_path --verbose --all
